# for all python related files
/__pycache__
*.pyc
0x01-Basic_authentication/api/.DS_Store
0x01-Basic_authentication/api/v1/.DS_Store
0x01-Basic_authentication/api/v1/views/.DS_Store
0x01-Basic_authentication/models/.DS_Store
